amqp==2.6.0
asgiref==3.2.10
billiard==3.6.3.0
celery==4.4.7
cffi==1.14.2
cryptography==3.0
Django==3.0.8
django-ping==0.2.0
future==0.18.2
kombu==4.6.11
librabbitmq==2.0.0
msgpack==1.0.0
multiping==1.1.2
mysqlclient==2.0.1
pycparser==2.20
pyping==0.0.5
pytz==2020.1
redis==3.5.3
six==1.15.0
sqlparse==0.3.1
vine==1.3.0
